<!DOCTYPE html>
<head>
    <meta charset = 'utf-8'>
    <title>Задача №2</title>
    <style>
		* {
    		background-color: rgb(211, 154, 186); 
		}
        button {
            background-color: rgb(150, 121, 121); 
        }
        h {
            color: rgb(43, 62, 89); 
        }
        div {
            color: rgb(95, 71, 71); 
        }


    </style>
</head>
<body>
    <form method = 'POST'>
        <h >Число:</h>
        <input type = 'number' name = 'number'>
        <button type = 'submit'>Вычислить</button>
    </form>
    <div>Конечное число: {{total}}</div>
</body>